@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #cbd5e1;
}
.breadcrumbs .crumb:after {
  content: ">";
  margin-left: 10px;
}
.breadcrumbs .crumb:last-child:after {
  display: none;
}
.breadcrumbs > * {
  display: inline-block;
  margin-right: 10px;
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
  background-color: black;
  color: white;
}
